@import "tailwindcss";



@theme {
  --font-dm-sans: "DM Sans", sans-serif;
  --color-brand-primary: #0D0D2B;
  --color-brand-accent: #2B4DFF;
  --color-brand-cyan: #00F0FF;
  --color-brand-light: #e1f5fe;

  --animate-float: float 6s ease-in-out infinite;
  --animate-float-delayed: float 6s ease-in-out 3s infinite;
  --animate-fade-in: fadeIn 0.5s ease-out;
  --animate-bounce-slow: bounce 3s infinite;

  @keyframes float {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-20px);
    }

    100% {
      transform: translateY(0px);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

body {
  font-family: var(--font-dm-sans);
  background-color: #ffffff;
  color: #000000;
}


.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.marquee-content {
  display: inline-flex;
  animation: scroll-left 25s linear infinite;
  width: max-content;
  
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}